<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= pageTitle %></title>
  <meta name="description" content="<%= homepage.meta.description %>">
  <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/assets/vendor/slick/slick.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
