<section class="breaker-section position-relative">
  <img src="<%= breaker.image %>" class="breaker-section__image" alt="<%= breaker.title %>">
  <div class="breaker-section__overlay">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="breaker-section__title"><%= breaker.title %></h2>
        </div>
      </div>
    </div>
  </div>
</section>
