<section class="section-space section-panel">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <h2 class="section-title"><%= homepage.intro.title %></h2>
        <hr class="section-rule">
        <p class="lead mb-4"><%= homepage.intro.text %></p>
        <a class="btn btn-primary btn-lg" href="<%= homepage.intro.buttonHref %>"><%= homepage.intro.buttonLabel %></a>
      </div>
    </div>
  </div>
</section>
