<section class="section-space section-panel">
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <h2 class="section-title"><%= homepage.resourcesIntro.title %></h2>
        <hr class="section-rule">
        <p class="lead mb-4"><%= homepage.resourcesIntro.text %></p>
        <a class="btn btn-primary btn-lg" href="<%= homepage.resourcesIntro.buttonHref %>"><%= homepage.resourcesIntro.buttonLabel %></a>
      </div>
    </div>
  </div>
</section>
